@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 28% 95%;
    --foreground: 0 0% 7%;

    --card: 30 28% 95%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 0 0% 7%;
    --primary-foreground: 30 28% 95%;

    --secondary: 30 20% 91%;
    --secondary-foreground: 0 0% 7%;

    --muted: 30 15% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 30 20% 91%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 30 10% 85%;
    --input: 30 10% 85%;
    --ring: 0 0% 7%;

    --radius: 0px;

    --sidebar-background: 30 20% 93%;
    --sidebar-foreground: 0 0% 15%;
    --sidebar-primary: 0 0% 10%;
    --sidebar-primary-foreground: 30 28% 95%;
    --sidebar-accent: 30 20% 91%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 30 10% 85%;
    --sidebar-ring: 0 0% 0%;

    --surface: 30 20% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
